{% extends 'base.html'%}

{% block content %}

<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://sun1-90.userapi.com/impg/7DkhIjqWiIGp0f2HSYht26-eNm3Lx5Ft2XPf0A/EJhp4CA5P9k.jpg?size=1280x960&quality=95&sign=cde315a554bedb8efd13044dac6d8dc3&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://sun9-66.userapi.com/impg/aJOL54yg6U0goqzwTflFuWLZSzUF5MmEyMOnKg/zh2tVKwAJrM.jpg?size=1280x853&quality=95&sign=bdd23bc4050de88092e48820ad4034d0&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://sun1-16.userapi.com/impg/NSRkFXxHx7kBrnvTavxXP4jFWF3FQzptPqB8hg/o5mnWdDjvHA.jpg?size=1527x2160&quality=95&sign=5f28fd6aaa34e2d751d72af43053b955&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://sun9-31.userapi.com/impg/0BKJw9EY6CMptwb6V9YHvGRMg920Zt-w68U8Dw/lVtvQ5r3380.jpg?size=1280x720&quality=96&sign=11a6d20cbf3222d1c3cb22141fc37888&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://sun9-51.userapi.com/impg/1fx-DJaA97tOO_zBr8t5xO7OA6nMycgGf2xTmg/p42hSb_I79Y.jpg?size=1280x960&quality=95&sign=51579fc23c9855514168012eba19e2f0&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://sun9-31.userapi.com/impg/62X8VM7K09xEvFNCTkIdXF7X3E1OJHelMPuulw/oBPsHjNR_OU.jpg?size=1527x2160&quality=95&sign=97239aaadea8eebc73a005ff49a86245&type=album"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->

{% endblock %}