{% extends 'base.html'%}

{% block content %}

    <div class="main_row">
        <div class="main_info">
            <h1 class="main_title">{% block title %} Web-разработка {% endblock %}</h1>
            <p class="info_text">Программа сосредоточена на изучении технологий, инструментов и языков программирования, которые используются при создании веб-приложений и сайтов, что позволяет детям получить фундаментальные знания и навыки в этой области. Программа может предлагать реальные проекты и задачи, которые позволят детям применять свои знания и навыки на практике, а также развивать свою творческую мысль и способности. Программа может учитывать индивидуальные потребности и интересы учащихся, что позволяет им выбирать те технологии и задачи, которые им интересны.</p>
        </div>
        <div class="main_img">
            <img src="{{ url_for('static', filename='img/main.jpg')}}" alt="" class="web_img">
        </div>
    </div>

{% endblock %}