{% extends 'base.html'%}

{% block content %}


   <div class="acor-container">

    <input type="radio" name="acor" id="acor1" checked="checked" />
    <label for="acor1">Модуль 1. Знакомство с основными технологиями создания web-страниц</label>
    <div class="acor-body">
        <p>Раздел «Знакомство с основными технологиями создания web-страниц» направлен на то, чтобы ознакомить учеников с основными инструментами, которые используются при создании web-страниц. Ученики изучат HTML (Hypertext Markup Language) - язык разметки, который используется для создания структуры и содержания web-страниц, и CSS (Cascading Style Sheets) - язык стилей, который используется для определения внешнего вида элементов страницы, таких как цвет, размер, шрифт и т.д. </p>
    </div>

    <input type="radio" name="acor" id="acor2" />
    <label for="acor2">Модуль 2. Знакомство с графическим редактором Figma</label>
    <div class="acor-body">
        <p>В разделе «Знакомство с графическим редактором Figma» ученики познакомятся с графическим редактором Figma, который используется для создания дизайна web-страниц и приложений. Они научатся работать с основными инструментами и функциями редактора, создавать макеты интерфейсов и экспортировать графические элементы для дальнейшего использования в web-программировании.</p>
    </div>

    <input type="radio" name="acor" id="acor3" />
    <label for="acor3">Модуль 3. Продвинутые практики «верстки» сайтов</label>
    <div class="acor-body">
        <p>В разделе «Продвинутые практики «верстки» сайтов» ученики изучат продвинутые практики "верстки" сайтов, которые помогут им создавать более сложные и профессионально выглядящие web-страницы. Они познакомятся с техниками, которые помогают создавать адаптивные и мобильные версии сайтов, оптимизировать загрузку страницы и улучшать ее производительность. Ученики также научатся работать с сетками, позиционированием элементов на странице и созданием анимаций с помощью CSS. По завершению раздела ученики смогут создавать более сложные и динамичные web-страницы, которые выглядят профессионально и адаптированы для разных устройств и разрешений экранов.</p>
    </div>

     <input type="radio" name="acor" id="acor4" />
    <label for="acor4">Модуль 4. Знакомство с системой контроля версий</label>
    <div class="acor-body">
        <p>В разделе «Знакомство с системой контроля версий» ученики познакомятся с системой контроля версий, такой как Git, которая поможет им эффективно управлять версиями своих проектов и совместно работать над ними в команде. Ученики узнают о базовых концепциях Git, таких как коммиты, ветки и слияния, а также научатся использовать основные команды Git для работы с репозиториями и хранения истории изменений своих проектов. Также они изучат лучшие практики по работе в команде с использованием системы контроля версий и узнают о различных вариантах хостинга репозиториев, таких как GitHub и GitLab. В результате этого раздела ученики будут уметь эффективно управлять своими проектами, контролировать изменения и работать с командой в рамках общего репозитория.</p>
    </div>

       <input type="radio" name="acor" id="acor5" />
    <label for="acor5">Модуль 5. Работа с препроцессорами</label>
    <div class="acor-body">
        <p>В разделе «Работа с препроцессорами» ученики изучат препроцессоры CSS, такие как Sass или Less, которые помогут им ускорить процесс написания CSS-кода, сделать его более модульным и удобным для поддержки. Ученики научатся использовать основные возможности препроцессоров, такие как переменные, миксины, вложенность, операторы и функции, а также научатся компилировать Sass- или Less-код в обычный CSS-код. Ученики также узнают о лучших практиках и стандартах написания CSS-кода, а также о том, как интегрировать препроцессоры в свои проекты. В результате этого раздела ученики будут иметь навыки работы с препроцессорами CSS и сможете написать более эффективный, гибкий и поддерживаемый CSS-код.</p>
    </div>

       <input type="radio" name="acor" id="acor6" />
    <label for="acor6">Модуль 6. Итоговый проект</label>
    <div class="acor-body">
        <p>Итоговый проект - это завершающий раздел программы, в котором ученики смогут применить все знания и навыки, полученные в процессе обучения, для создания полноценного веб-приложения или сайта. Ученики будут работать над проектом в течение определенного периода времени, используя все свои навыки веб-программирования, дизайна, верстки и работы с базами данных. В рамках проекта ученики будут решать реальные задачи и проблемы, сталкиваясь с вызовами, которые могут возникнуть при разработке веб-приложения в реальном мире.</p>
    </div>

</div>


{% endblock %}